

@{
    ViewBag.Title = "Izjava";
}

<div class="container-fluid">
    <div class="background">
        <div class="page-header">
            <h1><a href="index.php"><img src="~/Content/img/borac2.jpg" width="1110" alt="log firme |Martial Arts Fighting Area"></a></h1>
        </div>

        @if (TempData["message"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@TempData["message"]</strong>
            </div>

        }

        <div class="row">
            <div class="page-header">
                <h1>Izjava o punoletnosti</h1>
            </div>

            <div class="col-md-5">
                <p>Uslovi korišćenja:</p>
                <p>Usluge registracije i ugovaranja borbi su moguće</p>
                <p>jedino ukoliko ste stariji od 18 godina.</p>
                <p>U suprotnom možete iskoristiti našu prodavnicu za</p>
                <p>kupovinu sportsko/borilačke opreme.</p>
                <hr />



                @using (Html.BeginForm("Index", "Pocetna", FormMethod.Post,
                 new { enctype = "multipart/form-data" }))
                {
                    @*@Html.AntiForgeryToken()*@



                    <div>
                        @Html.CheckBox("checkB", false, new { id = "checkPunoletnost" }); Stariji sam od 18 godina i prihvatam uslove korišćenja
                        <br /><br />
                    </div>


                    <input class="btn btn-danger" id="btnPunoletnost" type="submit" value="Pređi na početnu stranicu" @*onclick="location.href='@Url.Action("Index", "Pocetna")'"*@ disabled />
                }



            </div>
        </div>
    </div>


    <footer>
        <div class="row">
            <!--POČETAK GORNJEG DIJELA FOOTERA-->
            <div class="col-md-4">
                <div class="page-header">
                    <h4><b>O nama</b></h4>

                </div>
                <p>M.A.F.A. je na prvom mestu posrednik između zainteresovanih korisnika aplikacije, oba pola,  koji žele da deo svog slobodnog vremena provedu u ringu sa drugim, uparenim korisnicima aplikacije koji su pristali na borbu i sportskih/borilačkih klubova koji trebaju da pruže uslugu prostora za borbu, sudije i medicinskog osoblja.</p>
            </div>
            <div class="col-md-4">
                <div class="page-header">
                    <h4><b>Kontakt</b></h4>

                </div>
                <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Nedeljka Gvozdenovića 22b, 11070 N.Beograd</p>
                <p><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> +381 63 377745 </p>
                <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> mz.tool2882@gmail.com</p>
            </div>

            <div class="col-md-4">
                <div class="page-header">
                    <h4><b>Pratite nas na:</b></h4>
                </div>
                <a href="www.facebook.com" class="btn btn-danger" role="button">
                    <i class="fab fa-facebook fa-3x"></i>
                </a>
                <a href="www.twitter.com" class="btn btn-danger" role="button">
                    <i class="fab fa-twitter fa-3x"></i>
                </a>
                <a href="www.youtube.com" class="btn btn-danger" role="button">
                    <i class="fab fa-youtube fa-3x"></i>
                </a>
                <a href="www.linkedin.com" class="btn btn-danger" role="button">
                    <i class="fab fa-linkedin-in fa-3x"></i>
                </a>

            </div>
        </div><!--KRAJ GORNJEG DIJELA FOOTERA-->
        <div class="panel-footer">
            <!--POČETAK DONJEG DIJELA FOTERA-->
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline">
                        <li><a href="oNama.php">O nama</a></li>
                        <li><a href="#">Uslovi korišćenja</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="kontakt.php">Kontakt</a></li>
                        <li><a href="#">Mapa sajta</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p class="text-right">Copyright &copy; 2019 Mladen Zvjerac &#169;</p>
                </div>

            </div>
        </div><!--POČETAK DONJEG DIJELA FOTERA-->
    </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

@*<script src="js/bootstrap.min.js"></script>*@
@*@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")*@
@*@RenderSection("scripts", required: false)*@
<script type="text/javascript">
    $(document).ready(function () {
        $('#checkPunoletnost').click(function () {

            $('#btnPunoletnost').prop("disabled", !$('#checkPunoletnost').prop("checked"));
        });
    });

</script>




